@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.ExperienceForms.Mvc.Html
@model RenderingModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="~/assets/Css/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/Css/niteflight.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/Css/addition.css">
    <link rel="stylesheet" type="text/css" href="~/assets/Css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/Css/Difficulty.css">
</head>

<body class="header-static ">

    <div id="main-container">

        @Html.Sitecore().Placeholder("header")

        <main>
            @Html.Sitecore().Placeholder("main")
        </main>

        @Html.Sitecore().Placeholder("footer")
    </div>

    <script src="~/assets/Scripts/Sitecore.Foundation.Theming.min.js"></script>
    <script src="~/assets/Scripts/Navigation.js"></script>
</body>
</html>
